DATABASE_URL=postgresql+asyncpg://aether:aether@localhost:5432/aether
POSTGRES_USER=aether
POSTGRES_PASSWORD=aether
POSTGRES_DB=aether

# Discord OAuth
DISCORD_CLIENT_ID=1515164692908216321
DISCORD_CLIENT_SECRET=vPHKuqudBJe_cFW8azajwYTwSWDknEIi
DISCORD_REDIRECT_URI=http://localhost:8000/api/auth/discord/callback
DISCORD_GUILD_ID=638435525165842461
DISCORD_ADMIN_ROLE_IDS=660944076996214814, 1101234850196901960, 
DISCORD_EDITOR_ROLE_IDS=638711790590492698, 638711859297648640

# Session
JWT_SECRET=1e475983716dfe97011e76948d2bea8d
JWT_ALGORITHM=HS256
SESSION_MAX_AGE=604800
FRONTEND_URL=http://localhost:3000
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
